.shopping-container {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 97%;
	height: 97vh;
	margin: auto;
	padding: var(--spacing-large);
	transform: translate(-50%, -50%);
	background-color: var(--color-white);
	box-shadow: var(--box-shadow);
}
.shopping-element__name {
	padding: var(--spacing-medium);
	font-weight: bold;
	font-size: 24px;
}
.shopping-element__price {
	padding: var(--spacing-medium);
	color: var(--color-unaccent);
	font-size: 20px;
}

.shopping__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
	background-image: url(img/close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}
fieldset{
	display: flex;
	flex-direction: column;
	width: 600px;
	justify-content: space-between;
	font-size: 18px;

}
input{
	height: 35px;
	border-radius: var(--border-radius);
	border-color: var(--linear-gradient);
	margin-left: 10px;
	margin-right: 10px;
}
.btn{
	width: 150px;
	font-size: 18px;
	background-color: #a8eb12;
	border: none;
	margin: 10px auto;
	padding: var(--spacing-small) var(--spacing-medium);
	border-radius: var(--border-radius);
	cursor: pointer;

}
